body {
  font-family: 'Roboto', sans-serif, sans-serif !important; 
}

a {
  text-decoration: none !important;
}

.navbar a {
  color: var(--Grey-grey-500, black);
}

.navbar a:active, .active-link {
  color: #007BFF !important;
}

.navbar-nav li {
  margin: 0 2rem !important;
}

input, select {
  box-shadow: none !important;
}

.img-fluid {
  height: 100% !important;
  width: 100% !important;
}

.pointer {
  cursor: pointer;
}

.text-lightgrey {
  opacity: 50%;
}

.theme-text {
  font-size: 1.5rem !important;
}

.ml-12 {
  margin-left: 1.2rem !important;
}

.mr12 {
  margin-right: .3rem !important;
}

.bg-cool {
  background-color: #161f2e !important;
}

.btn-cool, .badge-cool {
  background-color: #161f2e !important;
  color: #fff !important;
  border:  1px solid #161f2e !important;
}

.btn-cool, .badge-cool {
  background-color: #007BFF !important;
  color: #fff !important;
  border:  1px solid #007BFF !important;
}

.btn-light {
  background-color: #fff !important;
  color: #161f2e !important;
}

.text-cool {
  color: #161f2e !important;
}

.badge {
  /* width: 7rem !important; */
}

.social-login {
  margin-top: 1.5rem;
}

.or-signup-section {
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-header {
  display: inline-block; 
  width: 50px;
  margin: 0 10px;
}

.card-header-main {
  font-size: 24px !important;
}

.input[type="submit"]:focus,
.input[type="submit"]:active:focus,
.input[type="submit"].focus,
.input[type="submit"]:active.focus,
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus,
.btn-danger:focus,
.btn-danger:active, textarea {
    outline: none !important;
    box-shadow: none !important;
}

input {
  font-size: 14px !important;
}

input::placeholder {
  font-size: 14px; /* Adjust the font size as needed */
}

input[type='email'], input[type='password'], .password-input {
  padding-left: 2.5rem !important; /* Adjust the font size as needed */
}

@media screen and (max-width: 600px) {
  .navbar-rel-links {
    text-align: right !important;
  }

  .navbar-rel-links li {
    text-align: right !important;
    display: flex;
    justify-content: flex-end;
    margin: .3rem .6rem !important;
  }

  .admin-action {
    display: flex;
    justify-content: space-between;
    row-gap: .9rem !important;
  }
}



.google-icon {
  color: #DB4437; /* Google red color */
}

.facebook-icon {
  color: #3b5998; /* Facebook blue color */
}

.github-icon {
  color: #333; /* GitHub default color */
}



.login-form .input-icon, .register-form .input-icon, .edit-social-profile-form .input-icon {
  position: relative;
}

.login-form .input-icon i, .register-form .input-icon i, .edit-social-profile-form .input-icon  i {
  position: absolute;
  left: 10px; /* Adjust as needed */
  top: 50%;
  transform: translateY(-50%);
}

.input-icon i.password {
  right: 10px !important;
  left: unset;
  cursor: pointer;
}

.bio-header p {
  font-size: 14px;
}

.profile-section-card {
  display: flex;
  flex-direction: row !important;

}

.profile-card {
  height: 290px;
}

.profile-img-container {
  height: 150px;
  width: 150px;
  display: flex;
}

.leaderboard-img-container {
  height: 100px;
  width: 100px;
  display: flex;

}
.leaderboard-img-container img {
  border-radius: 50%;
  height: 100%;
  width: 100%;
}

.dashboard-img-container {
  height: 100px;
  width: 100px;
  display: flex;
}

.navbar-img-container {
  height: 30px;
  width: 30px;
  display: flex;
}

.profile-container h5 {
  font-size: 1rem;
  margin-bottom: 0 !important;
}

.badge-container span {
  font-size: 50px;
}

.bio-header-text {
  font-size: 20px !important;
}

.badge-container .additional-text, .additional-text {
  font-size: 10px;
}

.history .additional-text {
  font-size: 14px;
}

.history {
  border-bottom: 1px solid #ccc;;
}

.history h5 {
  font-size: 18px;
}

.history p {
  font-size: 14px;
}

.links-font-size {
  font-size: 14px;
}

.history-header {
  font-size: 18px;
}

.history-problem-desc {
  font-size: 12px;
}



.react-calendar {
  border: none !important;
}

.edit-profile-modal .modal-dialog {
  width: 600px; /* Adjust the width as needed */
}

.certifications li { font-size: 15px;}

.f-14 {
  font-size: 14px !important;
}

.f-16 {
  font-size: 16px !important;
}

.f-32 {
  font-size: 26px !important;
}

.mt-6 { 
  margin-top: 6rem;
}

.dropdown-menu a.dropdown-item:hover, .dropdown-menu a.dropdown-item, .dropdown-menu div.dropdown-item {
  color: #212529 !important;
  background-color: #fff;
}

.leaderboard .dropdown-menu {
  transform: translate3d(-200px, 42px, 0px) !important;
  width: 300px !important;
}

/* .online-users-modal {
  max-width: 600px !important;
  margin: 0 auto;
} */

.question-body div, .question-body .option-container {
  padding: .63rem 0;
}

.ml-7 {
  margin-left: 5.5rem;
}

.text-grey {
  color: rgba(51, 51, 51, 0.3);
}

.confetti-container {
  height: 280px;
  background-size: cover;
  background-position: center;
}

.celebration-img {
  height: 100%;
  width: 100%;
  image-rendering: auto;
  object-fit: cover;
}

.code-mirror-wrapper {
  height: 100% !important;
}

.CodeMirror-wrap {
  height: 100% !important;
}

.nav-pills .nav-link.active {
  background-color: #fff !important;
  color: #007BFF !important;
}

.react-calendar__month-view__weekdays__weekday {
  font-size: 10px !important;
}

.react-calendar__navigation__label__labelText react-calendar__navigation__label__labelText--from {
  font-size: 14px !important;
}

.social-login i {
  font-size: 24px; /* Adjust the font size as needed */
  margin: 0 10px; /* Add some horizontal margin between icons */
}

.google-icon {
  display: inline !important;
  font-size: 24px; 
  margin-right: 10px; 
}

iframe[title='Sign in with Google Button'] {
  top: -35px !important;
  left: 305px !important;
}

.multiple-choice-question-option::marker {
  padding-left: 1rem !important;
}


.profile.links-section a {
  font-size: 13px !important;
}

@font-face {
  font-family: 'digital-7';
  src: url('./assets/digital-7/digital-7.ttf') format('truetype');
}

.digital-timer {
  font-family: 'digital-7' !important;
  font-size: 44px;
}


.container-fluid {
  width: 100% !important;
  padding: 0 !important;
  margin: 0 !important;
}


.secondary-text {
  color: #007BFF !important;
}


.main-logo-text {
  font-weight: 600;
}


.custom-btn-sm {
  display: flex;
  width: 158px;
  height: 51px;
  padding: 16px 10px;
  justify-content: center;
  align-items: center;
  gap: 6px;
  border-radius: 4px;
  outline: none !important;
  border: none;
}


.custom-primary {
  background: #007BFF;
  color: #fff;
}

.sign-in-btn {
  display: flex;
  padding: 12px 12px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex: 1 0 0;
  border-radius: 8px;
  width: 100px !important;
  font-weight: 500;
  letter-spacing: 0.15px;
  outline: none;
  height: 45px !important;
  
}

.sign-in {
  border: 1px solid #007BFF;
  background-color: #007BFF;
  color: #fff !important;
}

.sign-up {
  border: 1px solid #007BFF;
  background-color: #fff;
  color: #007BFF !important;
}

.custom-btn-primary {
  border: 1px solid #007BFF !important;
  background-color: #007BFF !important;
  color: #fff !important;
}

.uni-color {
  color: #00346B;
}


.custom-btn {
  display: flex;
  padding: 12px 12px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex: 1 0 0;
  border-radius: 4px;
  width: 100px !important;
  font-weight: 500;
  letter-spacing: 0.15px;
  outline: none;
  height: 40px !important;
  
}

.about-body p {
  width: 90%;
}

.how-it-works-body p {
  width: 350px;
}

.how-it-works .main-content div {
  font-size: 44px;
}

.about-section .empowering-learning {
  font-size: 44px;
}

.engage-body p {
  width: 350px;
}

.track-progress-body p {
  width: 350px;
}

.testimonials-section .main-text {
  font-size: 44px;
}

.testimonials-section .users p {
  width: 582px;
}

.about-section {
  padding: 48px 16px;
}

.track-progress-body {
  margin-top: 113px;
}

.g_id_signin > div > div:first-child{
  display: none;
}

.g_id_signin > div > div:last-child{
  display: none;
}

.cta-btn,.learn-more-btn {
  width: 145px !important;
  height: 46px !important;
}

.home-section .challenge-card {
  width: 30%;
  padding: 15px;
  text-align: left;
}

.home-section .current-level {
  width: 60%;
  margin-left: 15px;
}

.history-container {
  margin-top: 24px;
}

.profile-container .greeting-container .user-name {
  font-size: 30px;
}



@media only screen and (max-width: 600px) {
  

  .features-img-container {
    height: 238px;
    width: 304px !important;
  }

  .features-img-container img {
    height: 100%;
    width: 100%;
  }

  .about-body p {
    width: 100%;
  }

  .hide-on-mobile {
    display: none !important;
  }

  .main-section .head-text {
    font-size: 36px !important;
  }

  .how-it-works-body p {
    width: 100%;
  }

  .how-it-works .main-content div {
    font-size: 30px;
    display: none;
  }

 



  .about-section .empowering-learning {
    font-size: 32px;
    width: 100%;
  }

  .custom-btn-sm {
    width: 128px;
    font-size: 15px;
  }

  .about-section .card-section {
    margin-top: 40px;
  }

  .interactive-challenges {
    margin-top: 24px;
  }

  .engage-body p {
    width: 90%;
  }

  .track-progress-body {
    margin-top: 20px;
  }

  .track-progress-body p {
    width: 100%;
  }

  .testimonials-section .main-text {
    font-size: 32px;
  }

  .testimonials-section .users p {
    width: 80%;
  }

  .about-section {
    padding-right: 0 !important;
  }

  .footer-section .logo-text {
    text-align: left;
  }

  .features-img-container img {
    height: 100%;
    width: 100%;
  }

  .learn-more-btn {
    width: 148px !important;
    height: 46px !important;
  }

  .home-section .challenge-card-container {
    justify-content: center;
  }

  .home-section .challenge-card {
    width: 77%;
    padding: 15px;
    text-align: left;
  }

  .home-section .current-level {
    width: 80%;
    margin-top: 32px;
    margin-bottom: 32px;
    margin-left: 0px;
  }

  .history-container {
    padding-left: 48px;
    padding-right: 48px;
    margin-top: 0;
  }

  .profile-container {
    padding-left: 24px;
    padding-right: 24px;
  }

  .profile-container .greeting-container .user-name {
    font-size: 24px;
  }

  .streak-container {
    padding-left: 48px !important;
    padding-right: 48px !important; 
    margin-top: 32px;
  }

}
